@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  font-family: 'Dancing Script', cursive ,sans-serif;
  margin: 0;
  padding: 0; }

header {
  display: grid;
  align-items: center;
  grid-template-areas: "menue1 logotipo menue2 iconos";
  grid-template: "menue1 logotipo menue2 iconos" 150px / 38.5%     20%     38.5%  auto;
  background-color: lavenderblush; }
  header .menue1 nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    display: flex; }
    header .menue1 nav ul li:hover, header .menue1 nav ul li:active {
      background-color: #c81ace;
      font-weight: 500;
      font-size: large;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      transition: .3s ease all;
      border-radius: 5px; }
    header .menue1 nav ul li a {
      color: #130202;
      text-decoration: none;
      font-size: larger;
      text-transform: uppercase; }
  header .logotipo {
    grid-area: logotipo;
    display: flex;
    justify-content: space-around; }
    header .logotipo img {
      padding-top: 10px;
      width: 150px;
      height: 150px;
      border-radius: 50%; }
  header .menue2 {
    grid-area: menue2; }
    header .menue2 nav ul {
      display: flex;
      list-style-type: none;
      justify-content: space-evenly;
      display: flex; }
      header .menue2 nav ul li:hover, header .menue2 nav ul li:active {
        background-color: #c81ace;
        font-weight: 500;
        font-size: large;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        border-radius: 5px; }
      header .menue2 nav ul li a {
        color: #130202;
        text-decoration: none;
        font-size: larger;
        text-transform: uppercase;
        font-size: larger; }
  header .iconos {
    grid-area: iconos; }

* {
  font-family: 'Dancing Script', cursive ,sans-serif;
  margin: 0;
  padding: 0; }

main .seccion1 h1 {
  text-align: center;
  text-transform: uppercase; }

main .seccion1 h2 {
  display: flex;
  justify-content: center;
  margin: 30px; }

.carrusel div .baileys {
  height: 700px; }

.carrusel div .baileys-texto {
  color: red;
  font-size: x-large; }
  .carrusel div .baileys-texto h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.carrusel div .coquitorta {
  height: 700px; }

.carrusel div .coquitorta-texto {
  color: red;
  font-size: x-large; }

.carrusel div .maracuya {
  height: 700px; }

.carrusel div .maracuya-texto {
  color: red;
  font-size: x-large; }

main .seccion2 {
  display: flex; }
  main .seccion2 .fservicios .tortasPostres {
    width: 200px;
    height: 200px; }
  main .seccion2 .fservicios h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  main .seccion2 .fservicios .mesadulce {
    width: 200px;
    height: 200px; }
  main .seccion2 .fservicios .boxes {
    width: 200px;
    height: 200px; }

* {
  font-family: 'Dancing Script', cursive ,sans-serif;
  margin: 0;
  padding: 0; }

footer {
  margin-top: 2%;
  background-color: lavenderblush; }
  footer div {
    align-items: baseline; }
    footer div .contenedor-formulario {
      display: flex;
      align-items: flex-end;
      align-items: center; }
      footer div .contenedor-formulario h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif; }
    footer div .contenedor-pie .pie {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    footer div div .redes {
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      footer div div .redes h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif; }
