
//Mapas:

//Declaro mi mapa

// $tortas:(
//     baileys:700px,
//     coquitorta:700px,
//     maracuya:700px
// );

// //Creo un bucle para usar los valores del mapa

// @each $torta, $tamaño in $tortas{
//     .btn--#{$torta}{
//         height: $tamaño;
//     }
// }
